.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  height: 42px; /* altura mayor */
  padding: 0 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
} 

.react-datepicker-popper {
  z-index: 9999 !important;
}